.head,.theme,.Welcome
{
font-size: large;
font-style:bold; 
color:white; 
background-color:midnightblue;
font-size:40px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: bold;
}
.theme
{
    
    font-size:20px;
    
}
.Welcome
{
    font-size:25px;
}
.table
{
    font-style:bold; 
    color:white; 
}
.button {
    display: block;
    margin: auto;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}